# IDE and dev tools specific files
.idea
*.iml
.vagrant
node_modules
devops/roles/galaxy/*
.DS_Store

# Symfony specific
app/bootstrap.php.cache
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/spool
build/
vendor/
bin/
composer.phar
web/bundles/

/src/Resources/views/Report/tmp/*
!/src/Resources/views/Report/tmp/empty

!.gitkeep

api_documentation.html

private.pem
public.pem

.env

/frontend/nginx/error.log

*.log
/nbproject

/esdata

/certs